<div class="container">
  <div class="row no-gutters">
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">検索</h5>
      <div class="form-body p-4">
        <table class='table table-hover'>
          <thaed>
            <tr>
              <th>投稿</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thaed>
          <tbody>
            <% post_images.each do |post_image| %>
            <tr>
              <td>
                <%= link_to post_image_path(post_image.id) do %>
                  <%= image_tag post_image.get_image %>
                <% end %>
              </td>
              <td><strong><span><i class="far fa-flag"></i> <%= post_image.shop_name %></span></strong></td>
              <td><%= post_image.caption %></td>
              <td><span><i class="fas fa-user"></i> <%= post_image.user.name %></span></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>