<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">新規投稿</h5>
      <div class="form-body p-4">
        <%= render "layouts/error_messages", resource: @post_image %>
        <%= form_with model: @post_image do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>
            </div>
            <%= f.text_field :shop_name, class: "form-control", placeholder: "ショップ名" %>
          </div>
          <%= f.text_area :caption, class: "form-control", rows: "3", placeholder: "キャプションを入力..." %>
          <hr>
          <%= f.submit 'シェア', class: "btn btn-block btn-info mb-3 mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>