<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark text-center bg-light py-4 mb-0"><%= @user.name %>さんの会員情報編集</h5>
      <div class="form-body p-4">
        <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
		    <%= render 'layouts/error_messages', resource: @user %>
        <table class="table table-borderless">
          <thaed>
            <th></th>
            <th></th>
            <th></th>
          </thaed>
          <tbody>
            <tr>
              <td>ユーザー名</td>
              <td colspan="2"><%= @user.name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td colspan="2"><%= @user.email %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td><strong><%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-success" %></strong></td>
              <td><%= f.radio_button :is_active, false %><%= f.label :is_active, "利用停止", class: "text-danger" %></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3"><%= f.submit "更新", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>