<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light py-4 mb-0">Gachamania</h4>
      <div class="form-body p-4">
        <div class="mx-auto text-center mb-4">
          <p>ユーザーログイン</p>
        </div>
        <%= form_with model: resource, url: user_session_path, local: true do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, class: "form-control", id: "inputName", placeholder: "ユーザー名" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "パスワード" %>
          </div>
          <%= f.submit "ログイン", class: "btn btn-block btn-info mt-4" %>
        <% end %>
        <div class="mx-auto text-center my-4">
          <p>アカウントをお持ちでないですか？ <%= link_to "登録する", new_user_registration_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>