<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">プロフィール編集</h5>
      <div class="form-body p-4">
        <%= render "layouts/error_messages", resource: @user %>
        <%= form_with model: @user do |f| %>
          <div class="input-group mb-4 mt-4">
            <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
          </div>
          <div class="input-group mb-4 mt-4">
            <%= f.file_field :profile_image, accept: "image/*", class: "w-100" %>
          </div>
          <hr>
          <%= f.submit '保存', class: "btn btn-block btn-info mb-3 mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>